# Log files
#__________
*.log

# Database files
# ______________
*.json
*.zip

# Secret keys
# ___________
auth.js

# Exceptions to the rule
# ______________________
!package.json
!package-lock.json

# Don't include all the node modules
# __________________________________
node_modules

# IDE files
# _________
*.code-workspace

# Easter egg component
# ____________________
secret.js
