# Log files
logs/

# Database files
storage/

# Secret keys
auth.js

# Don't include all the node modules
node_modules

# IDE files
*.code-workspace

# Easter egg component
secret.js

# IDE settings
.idea/

# Old stuff
legacy/
