# Log files
#__________
*.log

# Database files
# ______________
*.json

# Secret keys
# ___________
auth.js

# IDE
# ___________
.idea

# Exceptions to the rule
# ______________________
!package.json
!package-lock.json

# Don't include all the node modules
# __________________________________
node_modules
